body {
    background-image: url("/Images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    height: 100%
}

.navBar {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 34px;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;

}

.cards {
    display: flex;
    color: white;
}