body {
    background-image: url("/Images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    height: 100%
}

.navBar {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 34px;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
    gap: 100px;

}

#headerText {
    width: 100%;
    display: flex;
    font-size: 30px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}

.cards {
    display: flex;
    color: white;
}

#bigCardHolder {
    display: flex;
    justify-content: center;

}

.bigCardHolder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto); /* optional if cards are equal height */
  gap: 2rem;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.card {
    background: white;
    width: 100px;
    height: 200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#card1 {
    width: 200px;
    height: 200px;
}

.card:hover {
    background: blue;
    border: solid 10px black;
    width: 215px;
    height: 215px;
}